<% if object.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5>The information submitted was invalid, please resolve the following errors:</h5>
     <ul>
       <% object.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% end %>
