<div class="container">
  <header>
    <h3>Two-Factor Authentication<h3>
  </header>

  <%= form_tag(user_tfa_session_path(@user)) do %>
    <fieldset>
      <div class="form-group">
        <%= label_tag :authentication_code, "Authentication Code", class: "required" %>
        <%= text_field_tag :authentication_code, nil, size: 40, autofocus: true, required: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Verify Code", class: "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
</div>
